body,html{
	height:100%;
}

.jumbotron {
      background-color: #080808 !important;
      color: #fff;
      padding-top:60px;
      margin-bottom: 0px;
      width:100%;
      margin-right: 0px !important;
      padding-bottom: 1%;
      padding-left:0px;
      font-size:20px;
      padding-right:0px;
      position:relative;
      font-family: Montserrat, sans-serif;
      display:none;
      z-index:98;
  }
  
  a{
  color:white;
}

.navbar {
      margin-bottom: 0;
      background-color: #080808;
      z-index: 9999;
      border: 0;
      font-size: 12px !important;
      line-height: 1.42857143 !important;
      letter-spacing: 4px;
      border-radius: 0;
      font-family: Montserrat, sans-serif;
      transition: top 0.3s;
  }
  .navbar li a, .navbar .navbar-brand {
      color: #fff !important;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
      color: #f4511e !important;
      background-color: #fff !important;
  }
  .navbar-default .navbar-toggle {
      border-color: transparent;
      color: #fff !important;
  }

/*Footer*/
footer {
   width:100%;
   font-size: 1.5rem;
   position:relative;
   z-index:1000000;
   color:white;
   background-color: rgba(0, 0, 0, 0.8);
   text-align:center;
   padding:1%;
}

.slideanim {visibility:hidden;}
  .slide {
      animation-name: slide;
      -webkit-animation-name: slide;
      animation-duration: 1s;
      -webkit-animation-duration: 1s;
      visibility: visible;
  }
  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }

.shadow-lg {
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
    padding:5%;
    text-align: left;
}

.bg-white {
    background-color: #fff!important;
}

@media screen and (max-width:380px){
  .navbar-toggle{
    width:13%;
    float:left;
  }
}